/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for preparing the
    Acinetobacter baumannii PopPUNK database
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process.queueSize = 1
params {
    config_profile_name        = 'Acinetobacter_baumannii Databases'
    config_profile_description = 'Acinetobacter_baumannii PopPUNK databases'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    // Input data
    input  = "${projectDir}/assets/datasets/Acinetobacter_baumannii_db.csv"

}
