/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for preparing all species 
    database available on the PopPUNK repository
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'All Databases'
    config_profile_description = 'All PopPUNK databases available on the developer repository'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    // Input data
    input  = "https://github.com/DOH-JDJ0303/bigbacter-nf/blob/5a89732b29751294acee70ccfca610aa4091c950/assets/datasets/test_db.csv"

}
