profiles {
    all_dbs { includeConfig 'all_dbs.config' }
    acinetobacter_baumannii_db { includeConfig 'Acinetobacter_baumannii_db.config' }
    bordetella_pertussis_db { includeConfig 'Bordetella_pertussis_db.config' }
    campylobacter_jejuni_db { includeConfig 'Campylobacter_jejuni_db.config' }
    enterococcus_faecalis_db { includeConfig 'Enterococcus_faecalis_db.config' }
    enterococcus_faecium_db { includeConfig 'Enterococcus_faecium_db.config' }
    escherichia_coli_db { includeConfig 'Escherichia_coli_db.config' }
    haemophilus_influenzae_db { includeConfig 'Haemophilus_influenzae_db.config' }
    helicobacter_pylori_db { includeConfig 'Helicobacter_pylori_db.config' }
    klebsiella_pneumoniae_db { includeConfig 'Klebsiella_pneumoniae_db.config' }
    legionella_pneumophila_db { includeConfig 'Legionella_pneumophila_db.config' }
    listeria_monocytogenes_db { includeConfig 'Listeria_monocytogenes_db.config' }
    mycobacterium_abscessus_db { includeConfig 'Mycobacterium_abscessus_db.config' }
    mycobacterium_tuberculosis_db { includeConfig 'Mycobacterium_tuberculosis_db.config' }
    neisseria_gonorrhoeae_db { includeConfig 'Neisseria_gonorrhoeae_db.config' }
    neisseria_meningitidis_db { includeConfig 'Neisseria_meningitidis_db.config' }
    pseudomonas_aeruginosa_db { includeConfig 'Pseudomonas_aeruginosa_db.config' }
    staphylococcus_aureus_db { includeConfig 'Staphylococcus_aureus_db.config' }
    stenotrophomonas_maltophilia_db { includeConfig 'Stenotrophomonas_maltophilia_db.config' }
    streptococcus_agalactiae_db { includeConfig 'Streptococcus_agalactiae_db.config' }
    streptococcus_pneumoniae_db { includeConfig 'Streptococcus_pneumoniae_db.config' }
    streptococcus_pyogenes_db { includeConfig 'Streptococcus_pyogenes_db.config' }
    streptococcus_suis_db { includeConfig 'Streptococcus_suis_db.config' }
    test_db { includeConfig 'test_db.config' }
}
