/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for preparing the
    Escherichia coli PopPUNK database
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process.queueSize = 1
params {
    config_profile_name        = 'Escherichia_coli Databases'
    config_profile_description = 'Escherichia_coli PopPUNK databases'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    // Input data
    input  = "${projectDir}/assets/datasets/Escherichia_coli_db.csv"

}
