/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for preparing the
    Haemophilus influenzae PopPUNK database
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process.queueSize = 1
params {
    config_profile_name        = 'Haemophilus_influenzae Databases'
    config_profile_description = 'Haemophilus_influenzae PopPUNK databases'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    // Input data
    input  = "${projectDir}/assets/datasets/Haemophilus_influenzae_db.csv"

}
