/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for preparing the
    Streptococcus pyogenes PopPUNK database
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process.queueSize = 1
params {
    config_profile_name        = 'Streptococcus_pyogenes Databases'
    config_profile_description = 'Streptococcus_pyogenes PopPUNK databases'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    // Input data
    input  = "https://raw.githubusercontent.com/DOH-JDJ0303/bigbacter-nf/main/assets/datasets/Streptococcus_pyogenes_db.csv"

}
