/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal 
    test of the PREPARE_DB workflow.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process.queueSize = 1
params {
    config_profile_name        = 'PREPARE_DB Test'
    config_profile_description = 'Runs minimal test of the PREPARE_DB workflow.'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    // Input data
    input  = "https://raw.githubusercontent.com/DOH-JDJ0303/bigbacter-nf/main/assets/datasets/test_db.csv"

}
